<a href="https://colab.research.google.com/github/emoceanographer/usdanutrients/blob/master/Dietary_Sufficiency.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Calculate dietary sufficiency for current diet
(1) get 2011-2013 average of current diet from FBS; include only protein rich foods (kg/capita/yr; protein/cap/day)
(2) use database to grab AA content (cooked) for each food group (10 + bulk) (g/100g)
(3) multiply to get total AA content per food group (g/capita/day)
(4) remove 33%(?) for loss and waste
(5) Get standardized digestibilities (WORK) for each food
(6) multiply AA amount by digestibility (g/cap/day)

In [52]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# import necessary packages
import pandas as pd
import re
import statistics as stat
import numpy as np

In [0]:
# defines path to load the poore and nemecek data
path = '/content/drive/My Drive/Colab Notebooks/Nutrition/'
fao_path = path + 'FoodBalanceSheets_E_All_Data.csv' # Poore & Nemecek database tab; values only
nutr_path = path + 'nutrient_output_1126.csv'
dig_path = path + 'digestibility_aa2.csv'
cats_path = path + 'FAO_food_categories.xlsx'

## (1) Gets country diet from FBS
FAO "Food" = Production + Import Quantity - Seed - Losses; food supply is then divided by number of people. "On the utilization side a distinction is made between the quantities exported, fed to livestock, used for seed, put to manufacture for food use and non-food uses, losses during storage and transportation, and food supplies available for human consumption."

In [0]:
# loads the data as a pandas dataframe
fao_data = pd.read_csv(fao_path,encoding = 'latin')

In [0]:
# loads the nutrient data we calculated
nutrient_data = pd.read_csv(nutr_path)

In [0]:
# Fixes items that don't match FBS
nutrient_data = nutrient_data.replace('wheat', 'Wheat and products')
nutrient_data = nutrient_data.replace('Butter ghee', 'Butter, Ghee')
nutrient_data = nutrient_data.replace('Meat Aquatic Mammals', 'Meat, Aquatic Mammals')
nutrient_data = nutrient_data.replace('Fish Body Oil', 'Fish, Body Oil')

In [0]:
dig_data = pd.read_csv(dig_path)
dig_data = dig_data.replace('-', np.nan)
dig_data = dig_data.replace('Butter ghee', 'Butter, Ghee')
dig_data = dig_data.replace('Meat Aquatic Mammals', 'Meat, Aquatic Mammals')
dig_data = dig_data.replace('Fish Body Oil', 'Fish, Body Oil')
dig_data = dig_data.replace('wheat', 'Wheat and products')

In [0]:
ctry_list = list(fao_data.Area.unique())

In [0]:
foods_cat = pd.read_excel(cats_path)
fao_foods = list(foods_cat.Item.unique()) # this is the FAO list

In [0]:
def country_diet(country, temp):
  """Gets the food supply for all foods within a country for 2011-2013"""
  ctry_diet = {}
  df_ctry = fao_data[fao_data['Area']==country]
  # foods to go through (from our nutrient calculations)
  #foods = list(nutrient_data.food.unique()) # goes through the smaller list of foods
  foods = fao_foods
  for item in foods: 
    #temp = df_ctry[(df_ctry['Item'].str.lower()==item.lower())]
    temp = df_ctry[(df_ctry['Item'].str.lower().isin([item.lower()])) & 
                    (df_ctry['Element']=='Food supply quantity (kg/capita/yr)')][['Y2011','Y2012','Y2013']]

    amt = list(pd.DataFrame.mean(temp,axis=1)) # takes the average across years
    if amt:
      ctry_diet[item] = amt[0]
    else:
      ctry_diet[item] = np.nan
  return ctry_diet

In [0]:
ctry_diets = {}
for country in ctry_list: # cycle through each country
  ctry_diets[country] = country_diet(country,fao_foods)

In [0]:
ctry_diet_df = pd.DataFrame.from_dict(ctry_diets,orient='index') # converts it to a dataframe
# for easier viewing

## (2) Use database to get cooked food amino acid content for each food

In [64]:
nutrient_data.head()

   Unnamed: 0                 food  status  ...        B6    protein       iron
0           0  Barley and products     raw  ...  0.468600  11.274000  12.340000
1           1  Barley and products     raw  ...  0.203980   1.467270  20.071140
2           2  Barley and products  cooked  ...  0.115000   2.260000   1.330000
3           3  Barley and products  cooked  ...       NaN        NaN        NaN
4           4                Beans     raw  ...  0.265289  15.241333   4.816222

[5 rows x 27 columns]

In [0]:
fruits_veg = ['Tomatoes and products', 'Onions', 'Vegetables, Other', 'Oranges, Mandarines',
             'Lemons, Limes and products', 'Grapefruit and products', 'Citrus, other', 
             'Bananas', 'Plantains', 'Apples and products', 'Dates', 
              'Grapes and products (excl wine)','Fruits, Other','Pimento']
# these should be used as a mix of raw AND cooked

In [0]:
nutrient_means = nutrient_data[(nutrient_data['status']=='cooked') & 
                               (nutrient_data['avg/std']=='avg')] # gets only

In [0]:
num_cols = ['Tryptophan', 'Threonine',
       'Isoleucine', 'Leucine', 'Lysine', 'Methionine', 'Cystine',
       'Phenylalanine', 'Tyrosine', 'Valine', 'Arginine', 'Histidine',
       'Alanine', 'Aspartic', 'Glutamic', 'Glycine', 'Serine',
       'Hydroxyproline', 'energy', 'B12', 'B6', 'protein', 'iron']

In [0]:
code2_foods = {'Aquatic Animals, Others': ['Meat, Aquatic Mammals', 'Crustaceans', 
                                           'Cephalopods', 'Pelagic Fish', 'Demersal Fish',
                                           'Freshwater Fish'], 
               'Cereals, Other': ['Wheat and products', 'Rice (Milled Equivalent)', 
                                 'Barley and products', 'Maize and products', 
                                  'Rye and products','Oats', 'Millet and products', 
                                 'Sorghum and products'],
               'Citrus, other': ['Oranges, Mandarines', 'Lemons, Limes and products',
                                 'Grapefruit and products'],
               'Fish, Body Oil': ['Pelagic Fish', 'Demersal Fish', 'Freshwater Fish'],
               'Fish, Liver Oil': ['Pelagic Fish', 'Demersal Fish', 'Freshwater Fish'],
               'Fruits, Other': ['Bananas', 'Plantains', 'Apples and products', 'Dates',
                                'Grapes and products (excl wine)'], 
               'Marine Fish, Other': ['Pelagic Fish', 'Demersal Fish'], 
               'Vegetables, Other': ['Tomatoes and products', 'Onions'],
              'Roots, Other': ['Potatoes and products', 'Sweet potatoes'],
              'Meat, Other': ['Poultry Meat', 'Bovine Meat', 'Mutton & Goat Meat',
                             'Pigmeat'],
              'Offals, Edible': ['Poultry Meat', 'Bovine Meat', 'Mutton & Goat Meat',
                             'Pigmeat'],
              'Pelagic Fish': ['Demersal Fish'], 
              'Molluscs, Other': ['Crustaceans'],
              'Pulses, Other and products': ['Soyabeans', 'Beans', 'Peas']}

In [0]:
for item in list(code2_foods.keys()):
  if not item in fruits_veg:
    item_mix = nutrient_data[(nutrient_data['food'].isin(code2_foods[item])) & 
                             (nutrient_data['status']=='raw') &
                             (nutrient_data['avg/std'] == 'avg')]
  else: 
    item_mix = nutrient_data[(nutrient_data['food'].isin(code2_foods[item])) &
                        (nutrient_data['avg/std'] == 'avg')]
  avg_val = item_mix[num_cols].mean(axis=0)
  avg_val['Unnamed: 0'] = item_mix[item_mix['status']=='raw']['Unnamed: 0'].values[0]
  avg_val['food'] = item
  avg_val['status'] = 'both'
  avg_val['avg/std'] = 'avg'
  idx = nutrient_means.index[nutrient_means['food']==item]

  nutrient_means = nutrient_means.drop(idx)
  nutrient_means = nutrient_means.append(avg_val,ignore_index=True)

In [0]:
milk_raw = nutrient_data[(nutrient_data['food']=='Milk - Excluding Butter') &
                        (nutrient_data['status']=='raw') &
                        (nutrient_data['avg/std'] == 'avg')]
idx = nutrient_means.index[nutrient_means['food']=='Milk - Excluding Butter']

nutrient_means = nutrient_means.drop(idx)
nutrient_means = nutrient_means.append(milk_raw)

for item in fruits_veg: 
  if not item in list(code2_foods.keys()): # already caught the code2 veggies
    veg_rawcook = nutrient_data[(nutrient_data['food']==item) &
                        (nutrient_data['avg/std'] == 'avg')]
 
    avg_val = veg_rawcook[num_cols].mean(axis=0)
    avg_val['Unnamed: 0'] = veg_rawcook[veg_rawcook['status']=='raw']['Unnamed: 0'].values[0]
    avg_val['food'] = item
    avg_val['status'] = 'both'
    avg_val['avg/std'] = 'avg'
    idx = nutrient_means.index[nutrient_means['food']==item]

    nutrient_means = nutrient_means.drop(idx)
    nutrient_means = nutrient_means.append(avg_val,ignore_index=True)

# these are in g/100g

In [0]:
aa_list = {'Tryptophan': 'TRP', 'Threonine':'THR', 'Isoleucine':'ILE',
           'Leucine':'LEU', 'Lysine':'LYS','Methionine':'MET',
           'Cystine':'CYS', 'Phenylalanine':'PHE', 'Tyrosine':'TYR',
           'Valine':'VAL','Arginine':'ARG', 'Histidine':'HIS', 
           'Alanine':'ALA', 'Aspartic':'ASP', 'Glutamic':'GLU', 
           'Glycine':'GLY', 'Serine':'SER','protein':'CP'}
# ignoring 'Hydroxyproline':'HYP', 'Proline':'PRO' because of lack of data

## (3) Get digestibilities for each food

In [181]:
# calculate digestible AA per food
import math

digestible_aa = {}

for food in fao_foods:
  temp_nut = nutrient_means[nutrient_means['food'].str.lower().isin([food.lower()])]
  temp_dig = dig_data[dig_data['Unnamed: 0'].str.lower().isin([food.lower()])]

  if not len(temp_nut) >0: # skips those like sugar
    print(food)
  else:
    food_dig_aa = {}
    for AA in aa_list: 
      #if food == 'Butter, Ghee':
       # print(temp_dig[aa_list[AA]])
        #if temp_dig[aa_list[AA]].empty:
         # print('yes')
      if math.isnan(temp_nut[AA]):
          aa_content = np.nan
      else:
        aa_content = float(temp_nut[AA])

      if temp_dig[aa_list[AA]].empty:
        aa_dig = np.nan
      else:
        aa_dig = float(temp_dig[aa_list[AA]])
      dig_aa_content = aa_dig * aa_content / 100 # aa_dig is a percent

      food_dig_aa[AA] = dig_aa_content

    digestible_aa[food] = food_dig_aa

Sugar cane
Sugar beet
Sugar non-centrifugal
Sugar (Raw Equivalent)
Sweeteners, Other
Rape and Mustardseed
Olives (including preserved)
Oilcrops, Other
Groundnut Oil
Palmkernel Oil
Palm Oil
Sesameseed Oil
Ricebran Oil
Maize Germ Oil
Oilcrops Oil, Other
Tea (including mate)
Pepper
Cloves
Spices, Other
Wine
Beverages, Fermented
Beverages, Alcoholic
Alcohol, Non-Food
Fats, Animals, Raw
Infant food
Miscellaneous

In [189]:
dig_aa_df = pd.DataFrame.from_dict(digestible_aa)
dig_aa_df.head()

            Wheat and products  ...  Aquatic Plants
Tryptophan            0.076263  ...             NaN
Threonine             0.164227  ...             NaN
Isoleucine            0.224831  ...             NaN
Leucine               0.429414  ...             NaN
Lysine                0.193784  ...             NaN

[5 rows x 72 columns]

##(4) take into account food loss and waste (SKIP FOR NOW)

In [0]:
# WRI data; less specific?
food_loss_waste = {'North America': {'Consumption': 61, 'Dist & Mkt': 7, 'Processing': 9,
                                     'Handling & Storage': 6, 'Production': 17},
                  'Industrialized Asia': {'Consumption': 46, 'Dist & Mkt': 11, 'Processing': 2,
                                     'Handling & Storage': 23, 'Production': 17},
                  'Europe': {'Consumption': 52, 'Dist & Mkt': 9, 'Processing': 5,
                                     'Handling & Storage': 12, 'Production': 23},
                  'North Africa, West and Central Asia': {'Consumption': 34, 'Dist & Mkt': 18, 'Processing': 4,
                                     'Handling & Storage': 21, 'Production': 23},
                  'Latin America': {'Consumption': 28, 'Dist & Mkt': 17, 'Processing': 6,
                                     'Handling & Storage': 22, 'Production': 28},
                  'South and Southeast Asia': {'Consumption': 13, 'Dist & Mkt': 15, 'Processing': 4,
                                     'Handling & Storage': 37, 'Production': 32},
                  'Sub-Saharan Africa': {'Consumption': 5, 'Dist & Mkt': 13, 'Processing': 7,
                                     'Handling & Storage': 37, 'Production': 39}}
# from Monica's presentation (originally WRI?); percent of total waste
# LATER: compare the amount of LOSSES for each commodity and assume this corresponds
# to whatever percentage corresponds and then add Processing, dist & mkt, consumption?

In [0]:
# loads data from Gustavsson (2011); country groupings and then the waste per food category for
# countries within that region
ctry_grps = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'Country_keys')
NAO = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'N. America and Oceania')
IA = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'Indust Asia')
SSA = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'SSA')
NAWCA = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'N Afr, West and Cent Asia')
Eur = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'Europe (incl Russia)')
SSEA = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'S and SE Asia')
LA = pd.read_excel(path + 'gustavsson_data.xlsx',sheet_name = 'L America')

#### Assign each country in our aa_total_df to a region and

In [208]:
NAO.head()

              Unnamed: 0  ...  Consumption
0                Cereals  ...           27
1       Roots and tubers  ...           30
2    Oilseeds and pulses  ...            4
3  Fruits and vegetables  ...           28
4                   Meat  ...           11

[5 rows x 6 columns]

## (5) Multiply food amount by the amino acid content per amount to get the amino acid amount per food

In [0]:
foods = list(dig_aa_df.columns)

In [191]:
print(foods)

['Wheat and products', 'Rice (Milled Equivalent)', 'Barley and products', 'Maize and products', 'Rye and products', 'Oats', 'Millet and products', 'Sorghum and products', 'Cereals, Other', 'Cassava and products', 'Potatoes and products', 'Sweet potatoes', 'Yams', 'Roots, Other', 'Honey', 'Beans', 'Peas', 'Pulses, Other and products', 'Nuts and products', 'Soyabeans', 'Groundnuts (Shelled Eq)', 'Sunflower seed', 'Cottonseed', 'Coconuts - Incl Copra', 'Sesame seed', 'Palm kernels', 'Soyabean Oil', 'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil', 'Coconut Oil', 'Olive Oil', 'Tomatoes and products', 'Onions', 'Vegetables, Other', 'Oranges, Mandarines', 'Lemons, Limes and products', 'Grapefruit and products', 'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products', 'Pineapples and products', 'Dates', 'Grapes and products (excl wine)', 'Fruits, Other', 'Coffee and products', 'Cocoa Beans and products', 'Pimento', 'Beer', 'Bovine Meat', 'Mutton & Goat Meat', 'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals, Edible', 'Butter, Ghee', 'Cream', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs', 'Milk - Excluding Butter', 'Freshwater Fish', 'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods', 'Molluscs, Other', 'Meat, Aquatic Mammals', 'Aquatic Animals, Others', 'Aquatic Plants']

In [0]:
aa_total = {}

for country in ctry_list:
  ctry_diet = ctry_diet_df.loc[country]

  aa_ctry = {}

  for AA in aa_list:
    aa_ctr = 0
    for food in foods:

      temp = ctry_diet[food] # kg/capita/yr
      temp2 = dig_aa_df.loc[AA,food] # g/100g
      aa = temp * temp2 * 10 / 365 # to correct for kg / 100g and for 365 d /yr
      if not math.isnan(aa):
        aa_ctr = aa_ctr + aa # adds the amount of the amino acid to tracker
        #aa_ctr.append(aa)

    aa_ctry[AA] = aa_ctr # stores the added amino acid content
    #print([AA, aa_ctr])
  aa_total[country] = aa_ctry

In [0]:
aa_total_df = pd.DataFrame.from_dict(aa_total,orient='index')

In [0]:
savepath = path + 'diet_aa_1126_2.csv'
aa_total_df.to_csv(savepath)

# Compare protein with FAO protein estimate

In [0]:
fao_data.head()# This is the FAO database to work with

   Area Code         Area  Item Code  ... Y2012F     Y2013 Y2013F
0          2  Afghanistan       2501  ...    NaN  30552.00    NaN
1          2  Afghanistan       2901  ...     Fc   2090.00     Fc
2          2  Afghanistan       2901  ...     Fc     58.25     Fc
3          2  Afghanistan       2901  ...     Fc     33.52     Fc
4          2  Afghanistan       2903  ...     Fc   1873.00     Fc

[5 rows x 113 columns]

In [0]:
# Want Element = "Protein supply quantity (g/capita/day)"
# and Item = 'Grand Total'

def country_protein(country):
  """Gets the food supply for all foods within a country for 2011-2013"""
  df_ctry = fao_data[fao_data['Area']==country]
  temp = df_ctry[(df_ctry['Element'] == 'Protein supply quantity (g/capita/day)') & 
                    (df_ctry['Item']=='Grand Total')][['Y2011','Y2012','Y2013']]
  ctry_protein = list(pd.DataFrame.mean(temp,axis=1)) # takes the average across years
  return ctry_protein

In [0]:
ctry_protein = {}
for country in ctry_list: # cycle through each country
  ctry_protein[country] = country_protein(country)

In [0]:
ctry_p_df = pd.DataFrame.from_dict(ctry_protein,orient='index')
ctry_p_df.head()

                              0
Afghanistan           58.690000
Albania              110.440000
Algeria               90.743333
Angola                56.296667
Antigua and Barbuda   82.520000

In [0]:
savepath = path + 'fao_protein_2011-13.csv'
ctry_p_df.to_csv(savepath)