<a href="https://colab.research.google.com/github/emoceanographer/usdanutrients/blob/master/FAO_USDA_compare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import statistics
import numpy as np

In [0]:
# defines path to load the poore and nemecek data
path = '/content/drive/My Drive/Colab Notebooks/Nutrition/'
fao_path = path + 'FoodBalanceSheets_E_All_Data.csv'

In [0]:
# loads the FAO data
df = pd.read_csv(fao_path,encoding='latin')

In [25]:
df.Element.unique()

array(['Total Population - Both sexes', 'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity',
       'Domestic supply quantity', 'Feed', 'Seed', 'Losses', 'Food',
       'Food supply quantity (kg/capita/yr)', 'Processing', 'Other uses'],
      dtype=object)

In [0]:
# gets the years for the data in the 'Yyyyy' format
years = ['Y'+str(i) for i in range(1961,2013)]

In [0]:
def mean_std(vector):
  """Returns the mean and standard deviation if more than one value; nan otherwise"""
  if len(vector)>0:
    avg = statistics.mean(vector)
    std = statistics.stdev(vector)
  else:
    avg = np.nan
    std = np.nan
  return avg, std

In [87]:
food_vals = {}
for food in df.Item.unique():
  if not food in ['Population', 'Grand Total']:
    cal_ctry = []
    cal_ctry_s = []
    prot_ctry = []
    prot_ctry_s = []
    for country in df.Area.unique():
      food_mass = df[(df['Item']==food) & (df['Area']==country) & (df['Element']=='Food supply quantity (kg/capita/yr)')][years]
      food_cals = df[(df['Item']==food) & (df['Area']==country) & (df['Element']=='Food supply (kcal/capita/day)')][years]
      food_protein = df[(df['Item']==food) & (df['Area']==country) & (df['Element']=='Protein supply quantity (g/capita/day)')][years]
      cal_temp = []
      prot_temp = []
      for yr in years:
        if len(food_cals[yr])>0 and len(food_mass[yr])>0:
          cal_density = food_cals[yr].values[0] / (food_mass[yr].values[0]/365) # kcal/kg
          cal_temp.append(cal_density)
        if len(food_protein[yr])>0 and len(food_mass[yr])>0:
          prot_density = food_protein[yr].values[0] / (food_mass[yr].values[0]/365) # g protein/kg
          prot_temp.append(prot_density)
      cal_avg, cal_std = mean_std(cal_temp)
      prot_avg, prot_std = mean_std(prot_temp)
      cal_ctry.append(cal_avg)
      cal_ctry_s.append(cal_std)
      prot_ctry.append(prot_avg)
      prot_ctry_s.append(prot_std)

    cal_avg_all = np.nanmean(cal_ctry)
    prot_avg_all = np.nanmean(prot_ctry)

    non_nan_cal = sum([i for i in cal_ctry_s if not np.isnan(i)])
    if non_nan_cal>0:
      cal_std_all = sum([i**2 for i in cal_ctry_s if not np.isnan(i)])**0.5 / non_nan_cal  
    else:
      cal_std_all = np.nan

    non_nan_prot = sum([i for i in prot_ctry_s if not np.isnan(i)])
    if non_nan_prot >0:
      prot_std_all = sum([i**2 for i in prot_ctry_s if not np.isnan(i)])**0.5 / non_nan_prot
    else:
      prot_std_all = np.nan

    food_vals[food] = {'Caloric density': cal_avg_all, 'Protein density': prot_avg_all,
                        'Caloric std': cal_std_all, 'Protein std': prot_std_all}
    print(food)



      #df[(df['Item']==food) & (df['Area']==country) & (df['Element']=='Food supply (kcal/capita/day)')][year]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: Mean of empty slice
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: RuntimeWarning: Mean of empty slice

Vegetal Products
Animal Products
Cereals - Excluding Beer

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: RuntimeWarning: invalid value encountered in double_scalars
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: RuntimeWarning: invalid value encountered in double_scalars

Wheat and products
Rice (Milled Equivalent)
Barley and products
Maize and products
Millet and products
Cereals, Other
Starchy Roots
Potatoes and products
Sugar Crops
Sugar cane
Sugar beet
Sugar & Sweeteners
Sugar (Raw Equivalent)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: RuntimeWarning: divide by zero encountered in double_scalars
  app.launch_new_instance()
/usr/lib/python3.6/statistics.py:536: RuntimeWarning: invalid value encountered in double_scalars
  T, total, count = _sum((x-c)**2 for x in data)
/usr/lib/python3.6/statistics.py:539: RuntimeWarning: invalid value encountered in double_scalars
  U, total2, count2 = _sum((x-c) for x in data)

Sweeteners, Other
Honey
Pulses
Pulses, Other and products
Treenuts
Nuts and products

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: RuntimeWarning: divide by zero encountered in double_scalars

Oilcrops
Sunflower seed
Cottonseed
Coconuts - Incl Copra
Sesame seed
Olives (including preserved)
Oilcrops, Other
Vegetable Oils
Soyabean Oil
Groundnut Oil
Sunflowerseed Oil
Rape and Mustard Oil
Cottonseed Oil
Palm Oil
Sesameseed Oil
Olive Oil
Oilcrops Oil, Other
Vegetables
Tomatoes and products
Vegetables, Other
Fruits - Excluding Wine
Oranges, Mandarines
Citrus, Other
Bananas
Apples and products
Pineapples and products
Dates
Grapes and products (excl wine)
Fruits, Other
Stimulants
Coffee and products
Cocoa Beans and products
Tea (including mate)
Spices
Pepper
Spices, Other
Alcoholic Beverages
Wine
Beer
Beverages, Alcoholic
Meat
Bovine Meat
Mutton & Goat Meat
Poultry Meat
Meat, Other
Offals
Offals, Edible
Animal fats
Butter, Ghee
Cream
Fats, Animals, Raw
Eggs
Milk - Excluding Butter
Fish, Seafood
Freshwater Fish
Miscellaneous
Infant food
Rye and products
Oats
Sorghum and products
Cassava and products
Sweet potatoes
Roots, Other
Beans
Peas
Soyabeans
Groundnuts (Shelled Eq)
Rape and Mustardseed
Palm kernels
Palmkernel Oil
Coconut Oil
Maize Germ Oil
Onions
Lemons, Limes and products
Grapefruit and products
Plantains
Pimento
Beverages, Fermented
Alcohol, Non-Food
Pigmeat
Fish, Body Oil
Fish, Liver Oil
Demersal Fish
Pelagic Fish
Marine Fish, Other
Crustaceans
Cephalopods
Molluscs, Other
Aquatic Products, Other
Aquatic Animals, Others
Aquatic Plants
Cloves
Yams
Sugar non-centrifugal
Ricebran Oil
Meat, Aquatic Mammals

In [0]:
food_df = pd.DataFrame.from_dict(food_vals, orient='index')

In [0]:
savepath = path + 'fao_cal_prot_vals.csv'
food_df.to_csv(savepath)

In [92]:
food_df.head()

                          Caloric density  ...  Protein std
Vegetal Products                      NaN  ...          NaN
Animal Products                       NaN  ...          NaN
Cereals - Excluding Beer      3044.105905  ...     0.107137
Wheat and products            2779.748571  ...     0.121559
Rice (Milled Equivalent)      3642.402212  ...     0.127425

[5 rows x 4 columns]

In [0]:
AM = df[df['Item']=='Meat, Aquatic Mammals']

In [99]:
AM.head()

       Area Code    Area  Item Code  ... Y2012F  Y2013 Y2013F
31341         33  Canada       2768  ...      S    0.0      S
31342         33  Canada       2768  ...      S    0.0      S
31343         33  Canada       2768  ...      S    0.0      S
31344         33  Canada       2768  ...      S    0.0      S
31345         33  Canada       2768  ...      S    0.0      S

[5 rows x 113 columns]

In [102]:
AM[(AM['Y1961']<0)]

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y1961, Y1961F, Y1962, Y1962F, Y1963, Y1963F, Y1964, Y1964F, Y1965, Y1965F, Y1966, Y1966F, Y1967, Y1967F, Y1968, Y1968F, Y1969, Y1969F, Y1970, Y1970F, Y1971, Y1971F, Y1972, Y1972F, Y1973, Y1973F, Y1974, Y1974F, Y1975, Y1975F, Y1976, Y1976F, Y1977, Y1977F, Y1978, Y1978F, Y1979, Y1979F, Y1980, Y1980F, Y1981, Y1981F, Y1982, Y1982F, Y1983, Y1983F, Y1984, Y1984F, Y1985, Y1985F, Y1986, Y1986F, Y1987, Y1987F, Y1988, Y1988F, Y1989, Y1989F, Y1990, Y1990F, Y1991, Y1991F, Y1992, Y1992F, Y1993, Y1993F, Y1994, Y1994F, Y1995, Y1995F, Y1996, Y1996F, Y1997, Y1997F, Y1998, Y1998F, Y1999, Y1999F, Y2000, Y2000F, Y2001, Y2001F, Y2002, Y2002F, Y2003, Y2003F, Y2004, Y2004F, Y2005, Y2005F, Y2006, Y2006F, Y2007, ...]
Index: []

[0 rows x 113 columns]