<a href="https://colab.research.google.com/github/emoceanographer/usdanutrients/blob/master/Protein_requirements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import re
import statistics
from operator import add
import numpy as np

import math
import scipy
from scipy import stats
from scipy.optimize import least_squares

In [0]:
path = '/content/drive/My Drive/Colab Notebooks/Nutrition/'
pop_path = path + 'WPP2019_PopulationByAgeSex_Medium.csv'
#BMI_path = path + 'NCD_BMI_MEAN.csv'
BMI_path = path + 'NCD_RisC_Lancet_2017_BMI_age_standardised_country.csv'
height_path = path + 'heights_over_time.csv'
fao_ctry_path = path + 'fao_ctry_codes.csv'

# Calculate avg. body mass of adults for each country

Population: Dataset is WPP2019, Population by age and sex, medium; for each country; plan is to, for each (country, year), match demographic groups to the age_aa requirement pattern and calculate needed aa requirements

In [0]:
pop_df = pd.read_csv(pop_path, encoding='latin-1') # each country has year, age group's population
BMI_df = pd.read_csv(BMI_path, encoding='latin-1') # each country has a year and an associated mean
height_df = pd.read_csv(height_path)
fao_ctry_codes = pd.read_csv(fao_ctry_path)

In [35]:
BMI_df.head(0)

Empty DataFrame
Columns: [Country/Region/World, ISO, Sex, Year, Mean BMI, Mean BMI lower 95% uncertainty interval, Mean BMI upper 95% uncertainty interval, Prevalence of BMI>=30 kg/m² (obesity), Prevalence of BMI>=30 kg/m² lower 95% uncertainty interval, Prevalence of BMI>=30 kg/m² upper 95% uncertainty interval, Prevalence of BMI>=35 kg/m² (severe obesity), Prevalence of BMI>=35 kg/m² lower 95% uncertainty interval, Prevalence of BMI>=35 kg/m² upper 95% uncertainty interval, Prevalence of BMI<18.5 kg/m² (underweight), Prevalence of BMI<18.5 kg/m² lower 95% uncertainty interval, Prevalence of BMI<18.5 kg/m² upper 95% uncertainty interval, Prevalence of BMI 18.5 kg/m² to <20 kg/m², Prevalence of BMI 18.5 kg/m² to <20 kg/m² lower 95% uncertainty interval, Prevalence of BMI 18.5 kg/m² to <20 kg/m² upper 95% uncertainty interval, Prevalence of BMI 20 kg/m² to <25 kg/m², Prevalence of BMI 20 kg/m² to <25 kg/m² lower 95% uncertainty interval, Prevalence of BMI 20 kg/m² to <25 kg/m² upper 95% uncertainty interval, Prevalence of BMI 25 kg/m² to <30 kg/m², Prevalence of BMI 25 kg/m² to <30 kg/m² lower 95% uncertainty interval, Prevalence of BMI 25 kg/m² to <30 kg/m² upper 95% uncertainty interval, Prevalence of BMI 30 kg/m² to <35 kg/m², Prevalence of BMI 30 kg/m² to <35 kg/m² lower 95% uncertainty interval, Prevalence of BMI 30 kg/m² to <35 kg/m² upper 95% uncertainty interval, Prevalence of BMI 35 kg/m² to <40 kg/m², Prevalence of BMI 35 kg/m² to <40 kg/m² lower 95% uncertainty interval, Prevalence of BMI 35 kg/m² to <40 kg/m² upper 95% uncertainty interval, Prevalence of BMI >=40 kg/m²(morbid obesity), Prevalence of BMI >=40 kg/m² lower 95% uncertainty interval, Prevalence of BMI >=40 kg/m² upper 95% uncertainty interval]
Index: []

In [0]:
BMI_df = BMI_df[['Country/Region/World','ISO','Sex','Year','Mean BMI','Mean BMI lower 95% uncertainty interval','Mean BMI upper 95% uncertainty interval']]

In [40]:
BMI_df.head()

  Country/Region/World  ... Mean BMI upper 95% uncertainty interval
0          Afghanistan  ...                               21.763077
1          Afghanistan  ...                               21.801109
2          Afghanistan  ...                               21.842021
3          Afghanistan  ...                               21.876516
4          Afghanistan  ...                               21.930634

[5 rows x 7 columns]

In [0]:
def BMI_extract(df,yrs):
  """Gets the average and standard deviation for selected years for male and female BMI"""
  # Male
  temp = df[(df['Sex']=='Men') & (df['Year'].isin(yrs))]
  avgM = temp['Mean BMI'].mean(axis=0)
  stdM = ((temp['Mean BMI upper 95% uncertainty interval'] - temp['Mean BMI lower 95% uncertainty interval'])/4).mean(axis=0)
  
   # Female
  temp = df[(df['Sex']=='Women') & (df['Year'].isin(yrs))]
  avgF = temp['Mean BMI'].mean(axis=0)
  stdF = ((temp['Mean BMI upper 95% uncertainty interval'] - temp['Mean BMI lower 95% uncertainty interval'])/4).mean(axis=0)
  
  return avgM, stdM, avgF, stdF

In [0]:
yr_str = '2016'
country = 'Afghanistan'
BMI = BMI_df[BMI_df['Country/Region/World'] == country]

a,b,c,d = BMI_extract(BMI,[2011,2012,2013])

In [44]:
print([a,b,c,d])

[22.344502237636732, 1.1946179814958422, 23.723025716873337, 0.5270138711887494]

In [0]:
# Age group definitions
child_age_grps = ['0-4', '5-9', '10-14', '15-19']
adult_age_grps = ['20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100+'] # age groups for pop. data

In [0]:
ctry_mismatches = {'China, Hong Kong SAR': ['none'], 'China, Macao SAR': ['none'], 
                   'China, Taiwan Province of China': ['none'], 
                   "Dem. People's Republic of Korea": "Democratic People's Republic of Korea",
                   'French Guiana': ['none'], 'French Polynesia': ['none'], 
                   'Guadeloupe': ['none'],'Martinique': ['none'],
                   'United Kingdom': ['United Kingdom of Great Britain and Northern Ireland']}

In [0]:
temp = re.search(r'\[\.(.*?)\]', BMI[yr_str + '.2'].values[0])
temp

In [0]:
# for each year and country, calculate the average mass of an adult
avg_weight = {}
for country in list(pop_df.Location.unique()): # cycle through each country
  # population
  temp = pop_df[pop_df['Location'].isin([country])]
  temp = temp[temp['AgeGrp'].isin(adult_age_grps)]
  
  # BMI
  ctr = 0
  if country in BMI_df['Country/Region'].unique(): # skip countries for which there is no BMI
    ctr = 1
    BMI = BMI_df[BMI_df['Country/Region'] == country]
    
  if country in ctry_mismatches: 
    if ctry_mismatches[country][0] in BMI_df['Country'].unique():
      ctr = 1
      BMI = BMI_df[BMI_df['Country/Region'] == ctry_mismatches[country][0]]
  
  if ctr == 1:

    if country == 'United Kingdom':
      ctry_code = 'GBR'
    else:
      ctry_code = fao_ctry_codes[fao_ctry_codes['Short name'] == country]['ISO3'].values[0]
    
    # Heights (gets people 20-40 in 2011-2013 by year of birth)
    hts = height_df[height_df['Code'] == ctry_code]
    hts_m = hts[(hts['Year']>1970) & (hts['Year']<1994)]['Males (centimeters)'].mean()
    hts_f = hts[(hts['Year']>1970) & (hts['Year']<1994)]['Females (centimeters)'].mean()
    
    f_pop_year = []
    m_pop_year = []
    f_BMI = []
    m_BMI = []
    
    for year in list(pop_df.Time.unique()):
      if year < 2014 and year > 2010: # get 2011-2013
        # population
        f_adult_yr_pop = sum(temp[temp['Time'].isin([year])]['PopFemale'])
        m_adult_yr_pop = sum(temp[temp['Time'].isin([year])]['PopMale'])
        f_pop_year.append(f_adult_yr_pop*1000) # units originally in thousands of people
        m_pop_year.append(m_adult_yr_pop*1000)

        # BMI (average only)
        yr_str = str(year)
        BMI_f_temp = re.search(r'^.*(?=(\[))', BMI[yr_str + '.2'].values[0])
        BMI_m_temp = re.search(r'^.*(?=(\[))', BMI[yr_str + '.1'].values[0])
        if BMI_f_temp:
          f_BMI.append(float(BMI_f_temp.group(0)))
        else:
          f_BMI.append(np.nan)
        if BMI_m_temp:
          m_BMI.append(float(BMI_m_temp.group(0)))
        else:
          m_BMI.append(np.nan)
    
    # Weight calculation (kg)
    f_weight = (hts_f/100)**2 * statistics.mean(f_BMI)
    m_weight = (hts_m/100)**2 * statistics.mean(m_BMI)
    
    # Population weighting
    avg_weight[country] = (f_weight*statistics.mean(f_pop_year) + m_weight*statistics.mean(m_pop_year)) / statistics.mean(list(map(add, f_pop_year, m_pop_year)))
  else:
    print(country)

Africa
Aruba
Asia
Australia/New Zealand
Caribbean
Central America
Central and Southern Asia
Central Asia
Channel Islands
China, Hong Kong SAR
China, Macao SAR
China, Taiwan Province of China
Curaçao
Dem. People's Republic of Korea
Eastern Africa
Eastern and South-Eastern Asia
Eastern Asia
Eastern Europe
Europe
Europe and Northern America
French Guiana
French Polynesia
Guadeloupe
Guam
High-income countries
Land-locked Developing Countries (LLDC)
Latin America and the Caribbean
Least developed countries
Less developed regions
Less developed regions, excluding China
Less developed regions, excluding least developed countries
Low-income countries
Lower-middle-income countries
Martinique
Mayotte
Melanesia
Micronesia
Micronesia (Fed. States of)
Middle Africa
Middle-income countries
More developed regions
New Caledonia
No income group available
North Macedonia
Northern Africa
Northern Africa and Western Asia
Northern America
Northern Europe
Oceania
Oceania (excluding Australia and New Zealand)
Polynesia
Puerto Rico
Réunion
Small Island Developing States (SIDS)
South America
South-Eastern Asia
Southern Africa
Southern Asia
Southern Europe
State of Palestine
Sub-Saharan Africa
United States Virgin Islands
Upper-middle-income countries
Western Africa
Western Asia
Western Europe
Western Sahara
World

In [0]:
ctry_weights = pd.DataFrame.from_dict(avg_weight,orient='index')
ctry_weights = ctry_weights.reset_index()
missing = ctry_weights[ctry_weights[0].isna()]
list(missing['index'].unique()) # should be just those with actually no data (e.g. Sudan)

['South Sudan', 'Sudan']

In [0]:
ctry_weights

                                  index          0
0                           Afghanistan  59.128907
1                               Albania  74.300504
2                               Algeria  69.186634
3                                Angola  61.446617
4                   Antigua and Barbuda  72.731290
..                                  ...        ...
175  Venezuela (Bolivarian Republic of)  71.597418
176                            Viet Nam  53.435563
177                               Yemen  59.061992
178                              Zambia  59.035999
179                            Zimbabwe  64.124605

[180 rows x 2 columns]

# Calculate AA requirements per capita (adults)

In [0]:
case = 'baseline'

if case == 'baseline':

  AA_adult_req = {'Histidine': 15, 'Isoleucine': 30, 'Leucine': 59, 'Lysine': 45, 
                 'SAA': 22, 'AAA': 38, 'Threonine': 23, 'Tryptophan': 6, 'Valine': 39} # mg AA /g protein
  AA_total = .66 # g/kg
elif case == 'safe':
  AA_adult_req = {'Histidine': 12, 'Isoleucine': 24, 'Leucine': 47, 'Lysine': 36, 
                 'SAA': 17, 'AAA': 30, 'Threonine': 18, 'Tryptophan': 5, 'Valine': 31} # mg AA /g protein
  AA_total = .83 # g/kg

In [0]:
SAA = ['Methionine', 'Cystine'] # there are others, but not in my diet AA list
AAA = ['Phenylalanine', 'Tyrosine'] # also tryptophan and histidine but they are listed separately

In [0]:
diet_AA = pd.read_csv(path + 'diet_aa_1126_waste.csv')

In [0]:
AA_ctry = {}
AA_all = {}
for country in diet_AA['Unnamed: 0'].unique().tolist():
  if country in ctry_weights['index'].unique().tolist():
    diet_ctry = diet_AA[diet_AA['Unnamed: 0'] == country]
    AA_ctry[country] = {}
    AA_all[country] = {}
    for AA in AA_adult_req: 
      avg_weight = ctry_weights[ctry_weights['index']==country][0].values[0] 
      AA_req =  avg_weight * AA_total * AA_adult_req[AA] * 0.001 #g/capita/day
      if AA == 'SAA':
        aa_diet = []
        for aa in SAA: 
          aa_diet.append(diet_ctry[aa].values[0])
        AA_diet = sum(aa_diet)
      elif AA == 'AAA':
        aa_diet = []
        for aa in AAA: 
          aa_diet.append(diet_ctry[aa].values[0])
        AA_diet = sum(aa_diet)
      else:
        AA_diet = diet_ctry[AA].values[0]
      AA_ctry[country][AA] = AA_diet / AA_req #[AA_req, AA_diet, AA_diet/AA_req] 
      AA_all[country][AA] = [AA_req, AA_diet, AA_diet/AA_req] 
      if AA_ctry[country][AA]<1:
        print(country, ' lacking ' , AA, ' see: ', AA_req, AA_diet)
    total_protein_req = avg_weight * AA_total
    total_protein_diet = diet_ctry['protein'].values[0]
    AA_ctry[country]['protein'] =  total_protein_diet/total_protein_req #[total_protein_req, total_protein_diet, total_protein_diet/total_protein_req]
    AA_all[country]['protein'] = [total_protein_req, total_protein_diet, total_protein_diet/total_protein_req]
    if AA_ctry[country]['protein'] < 1: 
      print(country, ' lacking total protein, see' , total_protein_req, total_protein_diet)

Bangladesh  lacking total protein, see 34.90687288366379 31.73755243612161
Benin  lacking total protein, see 41.16636438781105 35.81830660081956
Botswana  lacking total protein, see 44.571305692524426 43.23820221342434
Cameroon  lacking  Valine  see:  1.6929241316672778 1.5879065411599425
Cameroon  lacking total protein, see 43.40831106839174 34.05241593091996
Central African Republic  lacking total protein, see 39.838969339630815 33.65412431702833
Chad  lacking  Lysine  see:  1.8061477007940112 1.737731028701204
Chad  lacking total protein, see 40.136615573200245 36.96810560982088
Congo  lacking total protein, see 40.666855241580585 39.85403459190722
Côte d'Ivoire  lacking  Isoleucine  see:  1.2620946551076782 1.2330876736316525
Côte d'Ivoire  lacking  Leucine  see:  2.4821194883784337 2.3372100406177645
Côte d'Ivoire  lacking  Lysine  see:  1.8931419826615172 1.8191773029734015
Côte d'Ivoire  lacking  Valine  see:  1.6407230516399816 1.4668711035455846
Côte d'Ivoire  lacking total protein, see 42.06982183692261 29.442107477481212
Ethiopia  lacking  Lysine  see:  1.5952797949891968 1.5219660019029628
Ethiopia  lacking total protein, see 35.450662110871036 29.94893009926227
Gambia  lacking total protein, see 42.16121710365718 42.04674417182101
Ghana  lacking  Valine  see:  1.644931611747671 1.5940803743933811
Ghana  lacking total protein, see 42.177733634555665 33.61477120774747
Guinea  lacking  Lysine  see:  1.8128517875170946 1.7171516737299213
Guinea  lacking  Valine  see:  1.5711382158481486 1.5161495375195724
Guinea  lacking total protein, see 40.28559527815766 29.39187268097221
Guinea-Bissau  lacking  Isoleucine  see:  1.2358713970611837 1.092891305135918
Guinea-Bissau  lacking  Leucine  see:  2.4305470808869947 2.088117254779581
Guinea-Bissau  lacking  Lysine  see:  1.8538070955917754 1.5498610393013152
Guinea-Bissau  lacking  Threonine  see:  0.9475014044135741 0.9269249885553094
Guinea-Bissau  lacking  Valine  see:  1.6066328161795387 1.3287684673717293
Guinea-Bissau  lacking total protein, see 41.195713235372786 26.0896091738155
Haiti  lacking  Isoleucine  see:  1.3549686543995116 1.077626979839276
Haiti  lacking  Leucine  see:  2.6647716869857065 2.016485901263462
Haiti  lacking  Lysine  see:  2.032452981599268 1.7335461997843975
Haiti  lacking  SAA  see:  0.9936436798929754 0.891387653306996
Haiti  lacking  Threonine  see:  1.0388093017062925 0.9330088036911364
Haiti  lacking  Tryptophan  see:  0.2709937308799024 0.26860314121485224
Haiti  lacking  Valine  see:  1.7614592507193654 1.2455306182289656
Haiti  lacking total protein, see 45.16562181331706 25.433505204294267
Iraq  lacking total protein, see 50.640267949970216 47.7160143248336
Kenya  lacking total protein, see 41.40754542671956 38.443763311597685
Lesotho  lacking total protein, see 42.66815128541019 40.23101782645252
Liberia  lacking  Histidine  see:  0.6137657453646028 0.6097981486298869
Liberia  lacking  Isoleucine  see:  1.2275314907292056 1.0053152356185977
Liberia  lacking  Leucine  see:  2.414145265100771 1.829183339652416
Liberia  lacking  Lysine  see:  1.8412972360938085 1.4343758085162712
Liberia  lacking  SAA  see:  0.9001897598680841 0.8842607211228233
Liberia  lacking  Threonine  see:  0.9411074762257243 0.8569567612407463
Liberia  lacking  Valine  see:  1.5957909379479676 1.209349865741059
Liberia  lacking total protein, see 40.91771635764019 23.5248106116968
Madagascar  lacking  Valine  see:  1.3692131874865363 1.3174079994934151
Madagascar  lacking total protein, see 35.10803044837272 24.747847243886408
Malawi  lacking total protein, see 38.16435069175048 31.882022343306836
Mozambique  lacking  Isoleucine  see:  1.1439047668416789 0.9388676903469722
Mozambique  lacking  Leucine  see:  2.2496793747886352 1.8885267378598476
Mozambique  lacking  Lysine  see:  1.7158571502625182 1.3471705599645114
Mozambique  lacking  SAA  see:  0.8388634956838978 0.7727530235670538
Mozambique  lacking  Threonine  see:  0.8769936545786204 0.795419499803948
Mozambique  lacking  Tryptophan  see:  0.22878095336833576 0.2122348312896848
Mozambique  lacking  Valine  see:  1.4870761968941824 1.1141329915051643
Mozambique  lacking total protein, see 38.130158894722626 23.225188669973
Nicaragua  lacking total protein, see 45.61474299909833 38.99103293971222
Nigeria  lacking total protein, see 40.42944461790729 35.104984252925604
Rwanda  lacking  Isoleucine  see:  1.1156930299792072 0.9116615786651934
Rwanda  lacking  Leucine  see:  2.1941962922924403 1.754541081147995
Rwanda  lacking  Lysine  see:  1.6735395449688106 1.4435045639354596
Rwanda  lacking  SAA  see:  0.8181748886514185 0.7030407313739677
Rwanda  lacking  Threonine  see:  0.8553646563173921 0.7351037337920946
Rwanda  lacking  Valine  see:  1.4504009389729693 1.0874067267828302
Rwanda  lacking total protein, see 37.18976766597357 22.41573891244033
Senegal  lacking total protein, see 42.708670268752826 41.69938119222429
Sierra Leone  lacking total protein, see 39.202343119626136 34.897897677406284
Solomon Islands  lacking  Isoleucine  see:  1.3320137555611222 1.3181896882891806
Solomon Islands  lacking  Leucine  see:  2.6196270526035406 2.4044645777882723
Solomon Islands  lacking  Valine  see:  1.731617882229459 1.5736557643503974
Solomon Islands  lacking total protein, see 44.40045851870408 30.38319623459049
Tajikistan  lacking total protein, see 45.9586271059407 44.37704438944237
Togo  lacking  Isoleucine  see:  1.2432624068539435 1.0303817447730224
Togo  lacking  Leucine  see:  2.4450827334794223 2.123247401226581
Togo  lacking  Lysine  see:  1.8648936102809153 1.5270596050585028
Togo  lacking  SAA  see:  0.9117257650262252 0.8803888277879249
Togo  lacking  Threonine  see:  0.95316784525469 0.8851057335138175
Togo  lacking  Tryptophan  see:  0.24865248137078869 0.2398104623879275
Togo  lacking  Valine  see:  1.6162411289101264 1.209518883979562
Togo  lacking total protein, see 41.44208022846478 25.271673083814722
Uganda  lacking  Valine  see:  1.508876600147077 1.4806527985228797
Uganda  lacking total protein, see 38.68914359351479 30.74876882622284
United Republic of Tanzania  lacking  Valine  see:  1.541179143047884 1.4684971986823103
United Republic of Tanzania  lacking total protein, see 39.51741392430472 30.279642012531713
Zambia  lacking total protein, see 38.96375918845994 32.190505324100926
Zimbabwe  lacking  Valine  see:  1.6505673427958703 1.5817452583379188
Zimbabwe  lacking total protein, see 42.32223955886847 33.41354813883546

In [0]:
AA_ratios = pd.DataFrame.from_dict(AA_ctry,orient='index')

In [0]:
savepath = path + 'AA_ratios_safe.csv'
AA_ratios.to_csv(savepath)

In [0]:
AA_all['Afghanistan'] # requirement, diet, ratio

{'AAA': [1.4829529909295607, 3.181650213947502, 2.1454828530695],
 'Histidine': [0.5853761806300898, 1.0671316584469748, 1.8229844222536198],
 'Isoleucine': [1.1707523612601796, 1.672272505887443, 1.4283742328629045],
 'Leucine': [2.3024796438116866, 3.1164248209910137, 1.353508088276457],
 'Lysine': [1.7561285418902695, 2.0686111846277617, 1.1779383657195963],
 'SAA': [0.8585517315907983, 1.52602662708826, 1.7774428388382688],
 'Threonine': [0.897576810299471, 1.3413229154862352, 1.494382319256567],
 'Tryptophan': [0.23415047225203592, 0.4871218714984065, 2.080379624321561],
 'Valine': [1.5219780696382335, 1.9935380541448853, 1.3098336263273092],
 'protein': [39.02507870867265, 50.42202361446346, 1.2920415610400302]}

## Undernourishment
Use the average diet as the mean of lognormal & the avg. requirement as threshold for undernourishment (NB FAO would use a 5th percentile for this?)

In [0]:
def prop_under(s_mean, CV, x):
  sigma = ((math.log(CV**2+1)))**0.5
  mu = math.log(s_mean) - sigma**2/2
  CDF = 1/2 + 1/2*scipy.special.erf((math.log(x) - mu)/(2**0.5*sigma))
  return CDF

In [0]:
variable_diet = {}
for country in AA_all:
  variable_diet[country] = {}
  for AA in AA_all[country]:
    pr_mean = AA_all[country][AA][1] # average amount in diet
    CV = 0.25 # sample

    req = AA_all[country][AA][0] # average requirement

    CDF = prop_under(pr_mean, sigma, req)
    variable_diet[country][AA] = CDF

In [0]:
variable_diet_df = pd.DataFrame.from_dict(variable_diet,orient='index')
variable_diet_df.head()

                     Histidine  Isoleucine  ...    Valine   protein
Afghanistan           0.159174    0.310610  ...  0.376299  0.387066
Albania               0.017260    0.032140  ...  0.052496  0.142396
Algeria               0.100112    0.142358  ...  0.189942  0.281223
Angola                0.136782    0.311888  ...  0.416354  0.553057
Antigua and Barbuda   0.014032    0.040017  ...  0.077025  0.171813

[5 rows x 10 columns]

In [0]:
savepath = path + 'undernourished_25.csv'
variable_diet_df.to_csv(savepath)

# Old Code

In [0]:
# BMI regex work! (save me for now!)
temp = BMI['2016'].values[0]
print(temp)
m = re.search(r"[^[]*\[([^]]*)\]", temp).groups()[0] # gets the things in the brackets!
n = re.search(r'^.*(?=(\[))', temp).group(0)
print(m)
print(n)

23.4 [22.0-24.8]
22.0-24.8
23.4

In [0]:
adult_weight = 136.68 # average adult weight

In [0]:
# calculate average height (m) for each country; look into this later
ctry_hts = {}
for country in list(pop_df.Location.unique()): 
  if country in list(height_df.Entity.unique()):
    ht = height_df[height_df['Entity'].isin([country])]
    m_ht = statistics.mean(ht['Males (centimeters)'])
    f_ht = statistics.mean(ht['Females (centimeters)'])
    ctry_hts[country] = {'M': m_ht/100, 'F': f_ht/100}

In [0]:
# match those historical populations with average weight
avg_adult_weight = {}
total_adult_weight = {}

for country in list(pop_df.Location.unique()): 
  BMI = BMI_df[BMI_df['Country'].isin([country])]
  f_yrs_weight = {}
  m_yrs_weight = {}
  
  ctry_ht = ctry_hts.get(country)
  if ctry_ht:
    m_ht = ctry_ht['M'] # get the average height for that country
    f_ht = ctry_ht['F']

    f_tot_weight = {} # pre-allocate
    m_tot_weight = {}
    tot_yr_weight = {}
    for year in list(pop_df.Time.unique()):
      # BMI
      if str(year) in BMI.columns: # only go through years for which we have data
        avg_m_BMI = re.sub(r'\[[^]]*\]','',BMI[str(year)+'.1'].item())
        avg_f_BMI = re.sub(r'\[[^]]*\]','',BMI[str(year)+'.2'].item())
        
        f_yrs_weight[year] = float(avg_f_BMI)*(f_ht)**2 # calculates weight from BMI and height
        m_yrs_weight[year] = float(avg_m_BMI)*(m_ht)**2
        
        f_tot_weight[year] = f_adult_population[country][year]*f_yrs_weight[year]
        m_tot_weight[year] = m_adult_population[country][year]*m_yrs_weight[year]
        tot_yr_weight[year] = f_tot_weight[year] + m_tot_weight[year]
        
    avg_adult_weight[country] = {'f': f_yrs_weight, 'm': m_yrs_weight}
  
    total_adult_weight[country] = tot_yr_weight
  else:
    print([country, ' did not have associated height'])

['Africa', ' did not have associated height']
['Aruba', ' did not have associated height']
['Asia', ' did not have associated height']
['Australia/New Zealand', ' did not have associated height']
['Bolivia (Plurinational State of)', ' did not have associated height']
['Brunei Darussalam', ' did not have associated height']
['Cabo Verde', ' did not have associated height']
['Caribbean', ' did not have associated height']
['Central America', ' did not have associated height']
['Central and Southern Asia', ' did not have associated height']
['Central Asia', ' did not have associated height']
['Channel Islands', ' did not have associated height']
['China, Hong Kong SAR', ' did not have associated height']
['China, Macao SAR', ' did not have associated height']
['China, Taiwan Province of China', ' did not have associated height']
["Côte d'Ivoire", ' did not have associated height']
['Curaçao', ' did not have associated height']
['Czechia', ' did not have associated height']
["Dem. People's Republic of Korea", ' did not have associated height']
['Democratic Republic of the Congo', ' did not have associated height']
['Eastern Africa', ' did not have associated height']
['Eastern and South-Eastern Asia', ' did not have associated height']
['Eastern Asia', ' did not have associated height']
['Eastern Europe', ' did not have associated height']
['Eswatini', ' did not have associated height']
['Europe', ' did not have associated height']
['Europe and Northern America', ' did not have associated height']
['French Guiana', ' did not have associated height']

ValueError: ignored